<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMW Tracker</title>
    <link href="tracker.css" rel="stylesheet">
</head>

<body>
    <div class="total">
        <div id="title">
            <%= hackName %>
        </div>
        <div id="author">
            <%= author %>
        </div>
        <div id="totals">
            <div id="totalTime" class="time">00:00:00</div>
            <div id="totalDeaths" class="death">Deaths: 0</div>
            <div id="totalExits" class="exits">Exits: 0</div>
        </div>
    </div>

    <script src="tracker.js"></script>
    

</body>

</html>