<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMW Tracker</title>
    <link href="tracker.css" rel="stylesheet">
</head>

<body>
    <div class="total">
        <div id="title">
            <%= hackName %>
        </div>
        <div id="author">
            <%= author %>
        </div>
        <div id="totals">
            <div id="totalTime" class="time"></div>
            <div id="totalDeaths" class="death"></div>
            <div id="totalExits" class="exits"></div>
        </div>
    </div>

    <script>
        const socket = new WebSocket('ws://localhost:3000');
      
        socket.onopen = function(event) {
          console.log('Connection established');
        };
      
        socket.onmessage = function(event) {
          console.log('Message from server ', event.data);
          // Here you can handle incoming messages, update DOM, etc.
        };
      
        socket.onerror = function(error) {
          console.log('WebSocket error: ' + error);
        };
      
        function sendMessageToServer(msg) {
          socket.send(msg);
        }
      </script>
      
</body>

</html>